<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Supplier:</b>
  <%=h @product.supplier %>
</p>

<p>
  <b>Maker:</b>
  <%=h @product.maker %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>