<p>
  <b>Name:</b>
  <%=h @supplier.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @supplier.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @supplier.phone %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>